<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/global-meta.ejs %>
        <title><%= appSettings.appName %></title>
        <% include ../../partials/global-link.ejs %>
        <% include ../../partials/global-script.ejs %>
    </head>
    <body>
        <header>
            <% include ../../partials/global-navbar.ejs %>
        </header>
        <main>
            Hello World!
        </main>
        <footer>
            <% include ../../partials/global-footer.ejs %>
        </footer>
    </body>
</html>