<div class="container pt-3">
    <h2>Places</h2>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div id="accordion" role="tablist">
                <div ng-repeat="(district, barangays) in places.district" class="card">
                    <div class="card-header" role="tab" id="heading_{{$index}}">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapse_{{$index}}" href="" aria-expanded="true" aria-controls="collapseOne">
                                {{district}}
                            </a>
                            <small class="float-right">District</small>
                        </h5>
                    </div>
                    <div id="collapse_{{$index}}" class="collapse" role="tabpanel" aria-labelledby="heading_{{$index}}" data-parent="#accordion">
                        <div class="card-body">
                            <div class="list-group">
                                <a href="#/places/{{barangay.id}}" ng-repeat="barangay in barangays track by $index" class="list-group-item list-group-item-action">{{barangay.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <canvas class="chart chart-pie"
                    chart-data="places.chart.data" chart-labels="places.chart.labels" chart-options="places.chart.options">
            </canvas>
        </div>
    </div>
</div>