<div class="container">
    <h3 class="pt-3">Manage Places</h3>
    <hr />
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
            </span>
        </div>
    </form>
    <table class="table">

    </table>

    <div class="pt-3 pb-3 text-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#newPlaceModal" type="submit">Add New Place</button>
    </div>

    <!--modals-->
    <div id="newPlaceModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Place</h4>
                </div>
                <div class="modal-body">
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>