<div class="container">
    <h3 class="pt-3">Manage Places</h3>
    <hr />
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
            </span>
        </div>
    </form>
    <table class="table">

    </table>

    <div class="pt-3 pb-3 text-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#newPlaceModal" type="submit">Add New Place</button>
    </div>

    <!--modals-->
    <div id="newPlaceModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form ng-submit="manager.newPlace($event);">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Place</h4>
                    </div>
                    <div class="modal-body">
                        <div map-lazy-load="https://maps.google.com/maps/api/js?key={{main.googleMapsApiKey}}&libraries=drawing">
                            <ng-map
                                    center="{{main.googleMapsOptions.center}}"
                                    zoom="{{main.googleMapsOptions.zoom}}">
                            </ng-map>
                        </div>

                        <div class="form-group pt-3">
                            <label>Barangay Name</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="manager.newPlaceForm.barangay_name"
                                   placeholder="Barangay Name"
                                   required="required"/>
                        </div>

                        <div class="form-group">
                            <label>District</label>
                            <select class="form-control"
                                    ng-model="manager.newPlaceForm.district_id"
                                    ng-required="true">
                                <option value="1">Test</option>
                                <option value="-1">Add New+</option>
                            </select>
                        </div>

                        <div class="form-group" ng-show="manager.newPlaceForm.district_id < 0">
                            <label>District Name</label>
                            <input type="text"
                                   class="form-control"
                                   ng-disabled="manager.newPlaceForm.district_id > 0"
                                   ng-model="manager.newPlaceForm.district_name"
                                   placeholder="District Name"
                                   ng-required="manager.newPlaceForm.district_id < 0"/>
                        </div>

                        <div ng-show="manager.newPlaceFormErrorMessage" class="alert alert-danger" role="alert">
                            <button type="button" class="close" ng-click="manager.newPlaceFormErrorMessage = undefined">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{manager.newPlaceFormErrorMessage}}
                        </div>
                        <div ng-show="manager.newPlaceFormSuccessMessage" class="alert alert-success" role="alert">
                            <button type="button" class="close  " ng-click="manager.newPlaceFormSuccessMessage = undefined">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{manager.newPlaceFormSuccessMessage}}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>