<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{home.title}}</h1>
        <p class="lead">{{home.description}}</p>
    </div>
</div>
<div class="m-4"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h4>Recent Disasters</h4>
            <div class="list-group">
                <a href="" data-toggle="collapse" data-target="#collapseExample" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <h4>Recently Used Evacuation Centers</h4>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
        </div>
    </div>

    <div class="m-5"></div><hr />
    <div class="text-center">
        <h2>The CDRRMO</h2>
        <p>We cater to all types of emergency around our area of responsibility in the City of Iloilo in the Republic of the Philippines. From vehicular accidents, trauma, medical, emergency transport, fire, drowning, search and rescue, collapse structures and any emergency, we respond.</p>
    </div>


    <div class="m-5"></div><hr />
    <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Our Mission</h4>
                    <p class="card-text">To provide timely and efficient medical and trauma care to victims of disasters and emergencies, and to alleviate the grief suffered by those left by letting them know that someone cares, and are prepared to respond to them should the need arise</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Our Vision</h4>
                    <p class="card-text">To provide the City of Iloilo with an efficient, timely, and state of the art Emergency Medical Services system, that is at par with the best in the world</p>
                </div>
            </div>
        </div>
    </div>
    <div class="m-5"></div>

</div>