<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/global-meta.ejs %>
    <title><%= appSettings.appName %></title>
    <% include ../../partials/global-link.ejs %>
    <% include ../../partials/global-script.ejs %>

    <!--page script-->
    <script type="application/javascript" src="/app/directives/eventDirectives.js"></script>
    <script type="application/javascript" src="/app/services/mapService.js"></script>
    <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing&key=<%- appSettings.googleMaps.apiKey %>"></script>
</head>
<body ng-app="app" ng-controller="ctrl as manager">
<header>
    <% include ../../partials/global-navbar.ejs %>
    <div class="container pt-4">
        <h4>Manage Places</h4>
        <hr />
    </div>
</header>
<main>
    <div class="container">
        <nav class="nav nav-tabs">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-barnagay" role="tab">Barangay</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-district" role="tab">District</a>
        </nav>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-barnagay" role="tabpanel">
                <form class="p-2" ng-submit="manager.searchBarangay(searchKeyword);">
                    <fieldset ng-disabled="manager.searchOptions.barangay.status.busy">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Search Place..." />
                            <span class="input-group-btn">
                                <button class="btn btn-dark" type="submit">
                                    <span class="material-icons float-right">search</span>
                                </button>
                                <button class="btn btn-primary" ng-click="manager.openAddBarangayModal()" type="button">
                                    <span class="material-icons float-left">add</span>
                                    Add New
                                </button>
                            </span>
                        </div>
                    </fieldset>
                </form>

                <div on-scroll-to-window-bottom="manager.loadBarangay()">
                    <div class="list-group">
                        <a href="#" ng-click="manager.openUpdateBarangayModal($index)" ng-repeat="barangay in manager.barangayList track by $index" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{barangay.name}}</h5>
                                <small class="text-muted">
                                    <span class="material-icons float-left{{(barangay.isCoastal)?' text-success':''}}">beach_access</span>
                                    {{(barangay.isCoastal)? 'Coastal Area': 'Not Coastal Area'}}
                                </small>
                            </div>
                            <p class="mb-1">{{barangay.District.name}}, {{barangay.District.City.name}}</p>
                        </a>
                        <div class="list-group-item" ng-if="manager.searchOptions.barangay.status.busy">
                            <div class="pre-loader m-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-district" role="tabpanel">
                <div class="p-2"></div>
                <div class="list-group">
                    <div ng-repeat="district in manager.districtList track by $index" class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                                <h5 class="mb-1">{{district.name}}</h5>
                                <p class="mb-1">{{district.City.name}}</p>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary" type="button">Update</button>
                                <button class="btn btn-outline-danger" type="button">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 text-right">
                    <button class="btn btn-primary" type="button">Add New</button>
                </div>
            </div>
        </div>
        <div class="m-5"></div>
    </div>
    <div id="BarangayFormModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Barangay Form</h3>
                </div>
                <div class="modal-body">
                    <div id="GoogleMaps" style="min-height: 300px; height: 50vh;"></div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <% include ../../partials/global-footer.ejs %>
</footer>
<script>
    angular.module('app', ['eventDirectives', 'serverService', 'mapService'])
        .controller('ctrl', function (serverSv, mapSv) {
            var manager = this;
            manager.mapPolygon = undefined;
            manager.googleMap = new google.maps.Map(document.getElementById('GoogleMaps'), mapSv.defaultMapOptions);
            manager.mapDrawingManager = new google.maps.drawing.DrawingManager({
                map: manager.googleMap,
                drawingMode: 'polygon',
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: ['polygon']
                },
                polygonOptions: {
                    editable: true
                }
            });
            manager.searchOptions = {
                barangay: {
                    status: {busy: false, complete: false},
                    query: {page: 1, limit: 15, path: true}
                }
            };
            manager.barangayList = [];
            manager.districtList = [];
            manager.searchBarangay = function (keyword) {
                keyword = keyword || '';
                manager.barangayList = [];
                manager.searchOptions.barangay.query.page = 1;
                manager.searchOptions.barangay.status.complete = false;
                if(keyword.trim() == '') delete manager.searchOptions.barangay.query.keyword;
                else manager.searchOptions.barangay.query.keyword = keyword;
                manager.loadBarangay();
            };
            manager.loadBarangay = function () {
                if(!manager.searchOptions.barangay.status.complete && !manager.searchOptions.barangay.status.busy){
                    manager.searchOptions.barangay.status.busy = true;
                    serverSv.request('/api/barangay?' + $.param(manager.searchOptions.barangay.query))
                        .then(function (response) {
                            var data = response.data;
                            if(data.error) {
                                Dialog.alert('Load More Places', data.error[1]);
                                ErrorLog.push(data.error);
                            }
                            else {
                                if(data.length == 0) manager.searchOptions.barangay.status.complete = true;
                                else {
                                    manager.searchOptions.barangay.query.page++;
                                    for(var i = 0; i < data.length; i++) manager.barangayList.push(data[i]);
                                }
                            }
                        })
                        .catch(function (err) {
                            Dialog.alert('Load More Places', 'An unknown error occurred.');
                            ErrorLog.push(err);
                        })
                        .finally(function () {
                            manager.searchOptions.barangay.status.busy = false;
                        });
                }
            };
            manager.openAddBarangayModal = function () {
                if(manager.mapPolygon) {
                    manager.mapPolygon.setMap(null);
                    manager.mapPolygon = undefined;
                }
                manager.mapDrawingManager.setDrawingMode('polygon');
                $('#BarangayFormModal').modal('show');
            };
            manager.openUpdateBarangayModal = function (index) {
                var barangay = manager.barangayList[index];
                manager.mapDrawingManager.setDrawingMode(null);
                if(manager.mapPolygon) {
                    manager.mapPolygon.setMap(null);
                    manager.mapPolygon = undefined;
                }
                manager.mapPolygon = new google.maps.Polygon({
                    map: manager.googleMap,
                    path: barangay.BarangayPaths,
                    editable: true
                })
                $('#BarangayFormModal').modal('show');
            };
            manager.loadDistrict = function () {
                var preloader = new Dialog.preloader('Getting district list.');
                serverSv.request('/api/district')
                    .then(function (response) {
                        var data = response.data;
                        if(data.error) {
                            Dialog.alert('Load More Places', data.error[1]);
                            ErrorLog.push(data.error);
                        } else manager.districtList = data;
                    })
                    .catch(function (err) {
                        Dialog.alert('Load Districts', 'An unknown error occurred.');
                        ErrorLog.push(err);
                    })
                    .finally(function () {
                        preloader.destroy();
                    });
            };


            //init
            manager.mapDrawingManager.addListener('polygoncomplete', function (polygon) {
                if(manager.mapPolygon) {
                    manager.mapPolygon.setMap(null);
                    manager.mapPolygon = undefined;
                }
                manager.mapPolygon = polygon;
            });
            $('#BarangayFormModal').on('shown.bs.modal', function () {
                google.maps.event.trigger(manager.googleMap, 'resize');
                if(manager.mapPolygon) manager.googleMap.fitBounds(mapSv.getPolygonBounds(manager.mapPolygon));
                else manager.googleMap.setOptions(mapSv.defaultMapOptions);
            });
            manager.loadDistrict();
        });
</script>
</body>
</html>