<div class="container" on-scroll-to-bottom="manager.loadMoreItems();">
    <h3 class="pt-3">Manage Users</h3>
    <hr />
    <form ng-submit="manager.search(searchKeyword);">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-primary" ng-disabled="manager.searchValues.busy" type="submit">Search</button>
                <button ng-click="manager.addNewUser();" class="btn btn-dark" data-toggle="modal" type="submit">Add New User</button>
            </span>
        </div>
    </form>
    <p ng-show="manager.searchValues.keyword" class="text-secondary">Searched for: "{{manager.searchValues.keyword}}"</p>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Account Type</th>
                <th>Place</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in manager.userList track by $index">
                <td>{{user.firstname + ' ' + user.middlename + ' ' + user.lastname}}</td>
                <td>{{user.UserType.name}}</td>
                <td ng-if="user.Barangay">{{user.Barangay.name}}, {{user.Barangay.District.name}}</td>
                <td ng-if="!user.Barangay">N/A</td>
                <td>
                    <button ng-click="manager.updateUser($index);" ng-if="user.username != 'admin'" class="btn">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p ng-show="manager.searchValues.end" class="text-center text-secondary">End of Result</p>
    <div ng-show="manager.searchValues.busy" class="p-2">
        <div class="pre-loader m-auto"></div>
    </div>

    <!--user form modal-->
    <div id="userFormModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form ng-submit="(manager.addFormMode)? manager.submitFormAsNew():manager.submitFormAsUpdate();">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            {{(manager.addFormMode)? 'Add New User':'Update User'}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!--username-->
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" ng-disabled="!manager.addFormMode" ng-model="manager.userForm.username" required="required" class="form-control" placeholder="Enter Username">
                        </div>

                        <!--first name-->
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" ng-model="manager.userForm.firstname" required="required" class="form-control" placeholder="Enter First Name">
                        </div>

                        <!--middle name-->
                        <div class="form-group">
                            <label>Middle Name</label>
                            <input type="text" ng-model="manager.userForm.middlename" required="required" class="form-control" placeholder="Enter Middle Name">
                        </div>

                        <!--last name-->
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" ng-model="manager.userForm.lastname" required="required" class="form-control" placeholder="Enter Last Name">
                        </div>

                        <!--account type-->
                        <div class="form-group">
                            <label>Account Type</label>
                            <select ng-model="manager.userForm.type" class="form-control">
                                <option ng-value="type.code" ng-repeat="type in manager.userTypes track by $index">{{type.name}}</option>
                            </select>
                        </div>

                        <fieldset ng-disabled="manager.userForm.type != 'BRGY'">
                            <!--district-->
                            <div class="form-group">
                                <label>District</label>
                                <select ng-model="manager.userForm.district" class="form-control">
                                    <option ng-value="district.id" ng-repeat="district in manager.getDistrictsFromBarangays() track by $index">{{district.name}}</option>
                                </select>
                            </div>

                            <!--barangay-->
                            <div class="form-group">
                                <label>Barangay</label>
                                <select ng-model="manager.userForm.barangay" class="form-control">
                                    <option ng-value="barangay.id" ng-repeat="barangay in manager.getBrangaysByDistrictId(manager.userForm.district) track by $index">{{barangay.name}}</option>
                                </select>
                            </div>
                        </fieldset>

                        <!--enabled-->
                        <div class="text-right">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" ng-model="manager.userForm.enabled" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Enabled</span>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-hide="manager.addFormMode" type="button" class="btn btn-danger">Delete User</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>